@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
  /* background-color: aqua; */
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  color: azure;
}

h1 {
  text-align: center;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 3em;
}